<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>

    <form action ='/items' method='post'>
      <input type= 'text' name='user_input'>
      <input type = 'submit' name = 'submit'>
    </form>

   </table>
</div>
